<!DOCTYPE HTML>
<html lang="es">
  <head>
    {% block head %}
      <link rel="stylesheet" href="/public/css/main.css" />
      <title>Try Riak</title>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    {% endblock %}
  </head>
  <body>
    <div id="tutorial">
    </div>
    <input id="terminal">
  </body>
</head>
