<!DOCTYPE HTML>
<html lang="es">
  <head>
    {% block head %}
      <link rel="stylesheet" href="/public/css/main.css" />
      <title>Try Riak</title>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

      <script src="public/js/terminal.js"></script>
      <script src="public/js/json2.js"></script>
    {% endblock %}
  </head>
  <body>
    <div id="tutorial">
      {{tutorial|raw}}
    </div>
    <button id="next">NEXT</button>
    <button id="prev">PREVIOUS</button>
    <div>
      url
      <input id="url">
    </div>
    <div>
      method
      <input id="method">
    </div>
    <div>
      header
      <input id="header">
    </div>
    <div>
      data
      <input id="data">
    </div>
    <div>
    <button id="run">RUN</button>
  </body>
</head>
